.contact {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.contact:not(:last-child) {
  margin-bottom: 20px;
}

.name {
  min-width: 200px;
  margin: 0 15px 0 0;
}

.tel {
  min-width: 120px;
  margin: 0 25px 0 0;
}

.contact button {
  padding: 5px;
  border: none;
  font-size: 16px;
  background-color: rgb(245, 189, 164);
  border: 2px solid rgb(250, 144, 94);
  border-radius: 10px;
}

.contact button:hover {
  transform: scale(1.1);
  background-color: rgb(250, 144, 94);
}
